<%- include('partials/header') %>

<div class="reset-password" style="justify-content: center;">
  <div class="row">
    <div class="col-lg-6">
      <div class="info">
        <h1 style="margin-bottom: 10px;">Reset Password</h1>      
        <form action="/reset-password" method="POST">
          <label>Username</label>
          <input type="text" class="ex1" name="username" required>
          <br>
          <label>Old Password</label>
          <input type="password" class="ex1" name="oldPassword" required>
          <br>
          <label>New Password</label>
          <input type="password" class="ex1" name="newPassword" required>
          <br>
          <label>Confirm New Password</label>
          <input type="password" class="ex1" name="confirmPassword" required>
          <br>
          <button type="submit" style="margin-top: 20px;">Reset Password</button>
        </form>
      </div>  
    </div>
  </div>  
</div>

<%- include('partials/footer') %>
